h1{
    text-align: center;
    color: rgb(43,97,158);
    text-transform: uppercase;
    text-decoration: underline;
}
body>div{
    display: flex;
    width: 70%;
}
form{
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 25%;
    padding: 25px;
    margin-top: 40px;
    margin-left: 150px;
    height: auto;
}
form>label{
    font-size: 25px;
}
form>input{
    width: 100%;
    height: 20px;
    color: gray;
    border: 1px solid gray;
}
input[type="submit"]{
    color:white;
    background-color: rgb(43,97,158);
    border: 1px solid transparent;
    margin-top: 10px;
    height: 30px;
    border-radius: 15px;
}
input[type="submit"]:hover{
    background-color: rgb(7, 55, 110);
}
select{
    width: 100%;
    height: 25px;
}
table{
    margin: auto;
    margin-top: 40px;
    text-align: center;
    margin-left: 50px;
}
th{
    border: 1px solid;
    background-color: rgb(43,97,158);
    color: white;
    padding: 5px;
}
form>label{
    font-size: 15px;
}